html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.sidebar,
.content {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 0.7fr 3fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: 1/3;
}


#search {
    border-radius: 8px;
    width: 260px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.headtop {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 2rem;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    place-items: center;
    gap: 0.8rem;
}

#name {
    font-weight: 500;
    font-size: 1.1rem;

}

.bell {
    width: 20px;
    height: 20px;
    padding-inline-end: 1.2rem;
}

.search {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    background-color: #e5e7eb;
}

.photo {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
}

.headbottom {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    gap: 1.2rem;
    align-items: center;
    padding-inline-start: 2rem;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#nav {
    padding: 0.4rem;
    border-radius: 999px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.sidebar {
    display: grid;
    grid-template-rows: 6rem 1.6fr 2fr;
    background-color: #1992d4;
}

li {
    list-style: none;
    font-weight: 700;
    font-size: 1.05rem;
    color: #ffffff;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

}

.dashboard {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.dashimg {
    width: 50px;

}

.topSideBar {
    display: flex;
    gap: 1rem;
    padding-inline-start: 1rem;
}

.navigation,
.lownav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}