html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 140px 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: 1/3;
}


#search {
    border-radius: 8px;
    width: 260px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.headtop {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 2rem;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    place-items: center;
    gap: 0.8rem;
}

#name {
    font-weight: 500;
    font-size: 1.1rem;

}

.bell {
    width: 20px;
    height: 20px;
    padding-inline-end: 1.2rem;
}

.search {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    background-color: #e5e7eb;
}

.photo {
    width: 40px;
    height: 40px;
    background-color: rgb(253, 97, 49);
    border-radius: 50%;
}

#newPhoto {
    width: 52px;
    height: 52px;
}

.headbottom {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    gap: 1.2rem;
    align-items: center;
    padding-inline-start: 2rem;
    justify-content: center;
}

.hi {
    font-size: 0.9rem;
    font-weight: 600;
}

.name {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#nav {
    padding: 0.4rem;
    border-radius: 999px;
    border: none;
    background-color: #d45e19;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.sidebar {
    display: grid;
    grid-template-rows: 6rem 1.6fr 2fr;
    background-color: #d45e19;
}

li {
    list-style: none;
    font-weight: 700;
    font-size: 1.05rem;
    color: #ffffff;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

}

.dashboard {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.dashimg {
    width: 50px;

}

.topSideBar {
    display: flex;
    gap: 1rem;
    padding-inline-start: 1rem;
}

.navigation,
.lownav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Card Area */


.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.column1,
.column2 {
    background-color: #e2e8f0;
    padding: 16px;
}

.cardContainer {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 12px;
    padding: 16px;
}

.textProject,
#announcement,
#trending {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.subtext {
    font-size: 1rem;
}

/* column 2 of the content part */

.cardAnnounce {
    background-color: #ffffff;
    border: 1px solid;
    height: 60%;
    width: 80%;
    justify-self: center;
    border-radius: 12px;
    padding: 12px;
    display: grid;
    overflow: hidden;
}

#announcement {
    padding-inline: 24px;
}

#bold,
#statement {
    font-size: 0.9rem;
    padding: 3.5px;
}

#top,
#mid,
#end {
    padding: 12px;
    border-bottom: 1px solid;
}

#bold {
    font-weight: 600;
}

#profilecard {
    background-color: #ffffff;
    border: 1px solid;
    height: 120px;
    width: 80%;
    justify-self: center;
    border-radius: 12px;
    padding: 12px;
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    padding-inline-start: 32px;
}

#profilephoto {
    padding: 2px;
}

.Name {
    font-size: 1.2rem;
    font-weight: 600;
    align-self: center;
}

.trending {
    padding: 12px;
}